{% extends "cadmin/base.html" %}

{% block content %}

    <div class="header">
        <div class="section-inner clearfix">
            <h2 class="title"><a href="{% url 'post_list' %}">The Great Django Blog - Admin Panel</a></h2>
            <div class="user-welcome">
                <p>Welcome {{ request.user.username }}</p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="section-inner">
            <div class="sidebar">
            {% block main %}

            {% endblock %}

        </div>

    </div>

{% endblock %}